<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualização</title>
</head>
<body>
    <div class="things">TESTE</div></div>
<script>
    let registros = <%- JSON.stringify(doc) %>

    $(document).ready(() => {
        console.log(registros)

        let linhas = ''
        registros.forEach((it) => {
            linhas += `
            <ul>
                <li>${it._fields.properties.title}</li>
            </ul>
            `
        })
        
        $('things').html(linhas)
    })
</script>
</body>
</html>